.project-card {
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.07);
    z-index: 1;
}

.L_icon {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar {
    display: none;
}

.connect-card {
    background: #f9fafb;
    color: rgb(121, 150, 192);
    filter: brightness(100%);
    transition: filter .75s;
}

.connect-card:hover {
    filter: brightness(80%);
    transition: filter .3s;
}